<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ttf</string>
          <string>woff</string>
          <string>eot</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string></string>
        <key>CFBundleTypeName</key>
        <string>Font files</string>
        <key>CFBundleTypeRole</key>
        <string>Converter</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>
    </array>
</plist>